<?xml version="1.0"?>
<model>
  <name>cam_Rover</name>
  <version>1.0</version>
  <sdf version='1.4'>roverModel.sdf</sdf>
 
  <author>
   <name>Sasikanth.P</name>
   <email>spotlu11@asu.edu</email>
  </author>
 
  <description>
    This is Functional Rover which is integrated with a depth camera sensor.
  </description>
</model>
